---
import BuyProductButton from '@/components/BuyProductButton.astro'
import NewProductReview from '@/components/NewProductReview.astro'
import ProductReviews from '@/components/ProductReviews.astro'
import Layout from '@/layouts/Layout.astro'
import { productImagePath } from '@/utils/assets'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const productEntries = await getCollection('product')
  return productEntries.map((product) => ({
    params: { slug: product.slug },
    props: { product },
  }))
}

const { product } = Astro.props
---

<Layout title={`${product.data.title} | My Merch Store`} indexable={true}>
  <h1 data-pagefind-meta="title">{product.data.title}</h1>
  <div class="w-64">
    <img src={productImagePath(product)} alt={product.data.title} />
  </div>
  <BuyProductButton product={product} />
  <pre>{JSON.stringify(product, null, 2)}</pre>

  <div>
    <NewProductReview product={product} server:defer />
    <ProductReviews product={product} server:defer />
  </div>
</Layout>
